.aboutus-header{
    margin-top: 76px;
    height: 150px;
    text-transform: uppercase;
    color: white;
    display: flex;
    font-weight: 700;
    font-size: 28px;
    background: #286cff;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.form-group{
    padding: 6px;
}
.btn-them{
    background-color: #286cff;
    color: white;
}